In [1]:
% pylab inline
% load_ext autoreload
% autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import Zbox as zb
import rstoolbox as rb
# Dataframe display
#pd.set_option("display.max_columns",None)
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [3]:
filename = "scores.sc"

In [4]:
df = pd.read_csv(filename, "\s+")

In [5]:
df = df.drop_duplicates("score", keep=0)

In [6]:
tags = df["cE45K_S46D_N48K/E45K_S46D_N48K_silent:SCORE:"].str.replace(pat="_silent:SCORE:", repl="").replace("/*", "").str.split("/").str[0]

In [7]:
df["tags"] = tags

In [8]:
df = df[["tags", "score", "ddg", "sasa", "delta_unsatHbonds"]]

In [9]:
df

                      tags      score       ddg       sasa delta_unsatHbonds
0   cE45K_S46D_N48K         -1413.949  -123.926  76225.859  111.000
2   cK18Q_T22H              -1432.394  -124.518  76068.523  109.000
4   cK18Q_T22H_T28QNE       -1439.436  -124.462  76076.664  110.000
6   cK18Q_T28QNE            -1446.243  -126.089  76045.938  110.000
8   cN64KR_E66R             -1438.510  -124.838  76161.523  112.000
10  cT16Y_K18Q              -1404.823  -124.028  76077.984  111.000
12  cT16Y_K18Q_T22H         -1404.869  -122.734  76066.781  111.000
14  cT16Y_K18Q_T22H_T28QNE  -1437.502  -126.037  75976.148  111.000
16  cT16Y_K18Q_T28QNE       -1411.554  -123.175  76141.047  111.000
18  cT16Y_T22H              -1409.560  -124.167  76027.492  111.000
20  cT16Y_T22H_T28QNE       -1430.358  -126.199  76087.797  111.000
22  cT16Y_T28QNE            -1435.699  -124.782  76146.727  112.000
24  cT22H_T28QNE            -1442.857  -124.858  76047.844  112.000

In [10]:
#df.to_csv("combinations_scores.csv")