In [1]:
% pylab inline
% load_ext autoreload
% autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import Zbox as zb
import rstoolbox as rb
# Dataframe display
#pd.set_option("display.max_columns",None)
import matplotlib.pyplot as plt
plt.style.use('ggplot')

## Load

In [3]:
filename = "scores.sc"

In [4]:
df = pd.read_csv(filename, "\s+")

In [5]:
df = df.drop_duplicates("score", keep=0)

In [6]:
tags = df["baseline/baseline_silent:SCORE:"].str.replace(pat="_silent:SCORE:", repl="").replace("/*", "").str.split("/").str[0]

In [7]:
df["tags"] = tags

In [8]:
df = df[["tags", "score", "ddg", "sasa", "delta_unsatHbonds"]]

In [9]:
df

          tags      score       ddg       sasa delta_unsatHbonds
0   baseline    -1434.482  -124.294  76183.141  112.000
2   sE45K       -1438.617  -124.158  76081.016  111.000
4   sE66R       -1431.893  -125.261  76167.977  111.000
6   sK18Q       -1435.027  -125.650  76035.797  109.000
8   sN64K       -1435.808  -125.231  76151.805  112.000
10  sN64R       -1409.696  -124.297  76032.891  111.000
12  sS46D_N48K  -1418.697  -124.029  76189.961  111.000
14  sT16Y       -1412.166  -124.173  76019.922  111.000
16  sT22H       -1432.850  -125.192  76127.336  112.000
18  sT28E       -1436.272  -124.224  76091.453  112.000
20  sT28N       -1433.502  -125.348  76087.984  111.000
22  sT28Q       -1440.055  -125.657  76132.242  112.000
23  sT16F       -1432.370  -125.793  75984.727  112.000
24  sS46D       -1396.953  -122.129  76184.727  111.000
25  sN48K       -1416.395  -124.563  76314.273  111.000

In [14]:
#df.to_csv("singletons_doubletons_scores.csv")